global
    maxconn 10000
    nbthread 1

defaults
    mode http
    timeout connect 1s
    timeout client 10s
    timeout server 10s

frontend proxy
    bind *:9999
    default_backend api_server

backend api_server
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 200
    server api1 unix@/sockets/api.sock check inter 1s fall 5 rise 1
